.current-issues p {
	text-align: left;
	color: #666161;
}

.current-issues p span {
	display: inline-block;
	margin-left: 25px;
}

.current-issues p span,
.current-issues {
	color: #ada5a5;
}

.description-text {
	color: #ada5a5;
}

.current-issues .indv-issue {
	position: relative;
}

.current-issues .close-issue {
	position: absolute;
    top: 0;
    right: 0;
    color: #ada5a5;
}
