.current-issues p {
	text-align: left;
	color: #666161;
	margin: 5px;
}

.current-issues p span {
	display: inline-block;
	margin-left: 15px;
}

.current-issues p span,
.current-issues {
	color: #ada5a5;
}

.description-text {
	color: #ada5a5;
}

.current-issues .indv-issue {
	position: relative;
}

.current-issues .close-issue {
    text-align: center;
    margin-bottom: 20px;
	position: relative;
	top: 0;
	right: 0;
	color: #ada5a5;
}

.line {
    color: lightslategray;
    border: none;
    height: 1px;
}