form label,
label input,
label select {
	display: block;
	text-align: left;
	color: #717171;
}

label input,
label select {
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	border: rgba(224, 220, 220, 0.775);
}

form label {
	margin-top: 20px;
}

form button {
	border-radius: 5px;
	background: rgb(80, 194, 108);
	color: #fff;
	border: none;
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
	-webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
	padding: 15px 30px;
	font-size: 15px;
	margin-top: 16px;
}
