.App {
	text-align: center;
}

body {
	background: rgb(52, 138, 88);
}

h1 {
	font-size: 55px;
	color: rgb(30, 224, 95);
}

.grey-card-container {
	background: #c1ece9;
	margin: auto;
	max-width: 725;
	padding: 40px 50px 30px;
	border-radius: 5px;
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
	-webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}
