.App {
	text-align: center;
}

body {
	background: rgb(134, 219, 191);
}

h1 {
	font-size: 55px;
	color: rgb(32, 138, 219);
}

.grey-card-container {
	background: #f6f6f6;
	margin: auto;
	max-width: 725;
	padding: 40px 50px 30px;
	border-radius: 5px;
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}
